<div class="container" align="center">
  <h1>Formulario Notas e Frequencia</h1>
  <hr>
  <h4>Turmas</h4>
  <form #cadastro="ngForm" (submit)="salvar()">
    <div class="form-group">
      <select>
        <option *ngFor="let turma of turmas" class="form-control" id="turma" [(ngModel)]="aluno.turma" >{{turma.titulo}}<----->{{turma.numero}}</option>        
      </select>
    </div>
  <h4>Alunos</h4>
    <div class="form-group">
      <select>
        <option value="{{turma}}"*ngFor="let aluno of listaAlunos(turma)" class="form-control" id="aluno" [(ngModel)]="aluno.codigo">{{aluno}}</option> 
      </select>
    </div>
  <hr>
    <div class="form-group">
      <label for="nota1" id="nota1">Nota 1: </label>
      <input type="number" class="form-control" id="nota1" [(ngModel)]="aluno.nota1">
    </div>
  <hr>
    <div class="form-group">
      <label for="nota2" id="nota2">Nota 2: </label>
      <input type="number" class="form-control" id="nota2" [(ngModel)]="aluno.nota2">
    </div>
  <hr>
    <div class="form-group">
      <label for="frequencia" id="frequencia">Frequencia: </label>
      <input type="number" class="form-control" id="frequencia" [(ngModel)]="aluno.frequencia">
    </div>
  <hr>
    <div>
      <button  class="btn btn-primary mr-2" disabled="cadastro-invalid">Confirmar</button>
      <button  class="btn btn-secondary" type="reset" >Limpar</button>
    </div>
  </form>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Turma</th>
      <th>Nome</th>
      <th>Nota 1</th>
      <th>Nota 2</th>
      <th>Frequencia</th>
      <th>Media</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let registro of registros">
      <td>{{registro.encontraTurma(registro)}}</td>
      <td>{{registro.encontrarAluno(registro.codigo)}}</td>
      <td>{{registro.frequencia}}</td>
      <td>{{registro.nome}}</td>
      <td>{{registro.nota1}}</td>
      <td>{{registro.nota2}}</td>
      <td>{{registro.calcularMedia(registro)}}</td>   
    </tr>
  </tbody>
  <thead>
      <tr>
        <th>Frequencia Media</th>
        <th>Medias Nota 1</th>
        <th>Medias Nota 2</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{calcularFrequenciaMedia()}}</td>
      <td>{{calcularNota1Media()}}</td>
      <td>{{calcularNota2Media()}}</td>
    </tr>
  </tbody>
  
</table>